.document {
  padding: 10px;
  background-color: $light-primary;
  transition: 0.15s ease;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  p {
    line-height: 1.2;
    @include font-medium;
  }

  .fileType {
    width: 25px;
    margin: auto 0 0 auto;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.menuButton {
  color: $gray-500;
  height: 20px;

  svg {
    flex-shrink: 0;

    &:hover {
      fill: $gray-400;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.downloadMenu {
  font-size: 14px;
  @include font-semibold;

  a {
    color: $gray-200;
    text-decoration: none;
    transition: color 0.15s ease;

    &:hover {
      color: $white;
    }
  }
}

@media screen and (min-width: $breakpoint-m) {
  .document {
    height: 125px;
    width: 125px;
  }
}

[data-theme="dark"] {
  .document {
    background-color: $gray-600;

    p {
      color: $gray-200;
    }
  }

  .menuButton {
    color: $gray-300;

    svg {
      &:hover {
        fill: $white;
      }
    }
  }
}
