.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    @include input-base;
    padding: 8px 14px;
    font-size: 14px;
  }

  label {
    @include font-medium;
    font-size: 14px;
  }
}

[data-theme="dark"] {
  .wrapper label {
    color: $gray-300;
  }
}
