.selectApplications {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;

  p {
    @include font-semibold;
  }

  button {
    align-self: flex-start;
  }
}

.checkboxWrapper {
  width: 140px;

  input {
    margin-left: auto;
  }

  > div {
    flex-direction: row;
    gap: 20px;
  }

  label,
  input,
  &:hover {
    cursor: pointer;
  }
}

[data-theme='dark'] {
  .selectApplications {
    p {
      color: $gray-200;
    }
  }
}
