.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  select {
    @include input-base;
    & {
      height: 39px;
    }

    &:focus,
    &:hover {
      cursor: pointer;
    }
  }

  label {
    @include font-semibold;
    font-size: 14px;
  }
}

[data-theme='dark'] {
  .wrapper {
    select {
      background: $gray-600;
      border: 1px solid $dark-border;
      color: $gray-100;

      &:focus,
      &:hover {
        border: 1px solid $gray-500;
      }
    }
    label {
      color: $gray-200;
    }
  }
}
