.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  input[type="file"] {
    &::file-selector-button {
      background-color: $black;
      transition: all 0.2s ease;
      padding: 8px 20px;
      color: white;
      border: none;
      border-radius: 5px;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .inputError {
    color: $red-500;
    margin-top: -10px;
    font-size: 13px;
  }
}
