.table {
  max-height: 75vh;
  margin-top: 20px;

  svg:hover {
    cursor: pointer;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $black;
  text-decoration: none;

  svg {
    width: 18px;
    height: 18px;
    margin-left: 5px;
  }

  &:hover {
    text-decoration: underline;
  }
}

[data-theme='dark'] {
  .table {
    background-color: $dark-secondary;
    color: $gray-300;
    border: 1px solid $dark-border;

    .title::after {
      background: $gray-600;
    }
  }
}
