@use "@fontsource-variable/inter";

body {
  font-family: "Inter Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

p {
  margin: 0;
}

h1,
.h1 {
  font-size: 24px;
  line-height: 1;
  @media (min-width: $breakpoint-m) {
    font-size: 32px;
  }
}

h2,
.h2 {
  font-size: 22px;
  line-height: 1;
  @media (min-width: $breakpoint-m) {
    font-size: 28px;
  }
}

h3,
.h3 {
  font-size: 22px;
  line-height: 1;
  @media (min-width: $breakpoint-m) {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 1;
  @media (min-width: $breakpoint-m) {
    font-size: 18px;
  }
}

p {
  font-size: 14px;
  line-height: 1;
  @media (min-width: $breakpoint-m) {
    font-size: 16px;
  }
}

@mixin font-light {
  font-weight: 300;
  font-style: normal;
}

@mixin font-normal {
  font-weight: 400;
  font-style: normal;
}

@mixin font-medium {
  font-weight: 500;
  font-style: normal;
}

@mixin font-semibold {
  font-weight: 600;
  font-style: normal;
}

@mixin font-bold {
  font-weight: 700;
  font-style: normal;
}

@mixin font-extrabold {
  font-weight: 800;
  font-style: normal;
}

@mixin font-black {
  font-weight: 900;
  font-style: normal;
}
