.card {
  border-radius: 10px;
  background-color: white;
  overflow-x: auto;
  z-index: 2;
  max-width: 100%;

  .title {
    @include font-semibold;
    position: relative;
    font-size: 18px;
    margin: 0;
    padding: 25px 20px;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      background: $gray-300;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.children {
  padding: 25px 20px;
}

.shadow {
  box-shadow: $shadow-m;
}

@media screen and (min-width: $breakpoint-m) {
  .card {
    max-width: max-content;

    h3 {
      padding: 20px 30px;
    }
  }

  .children {
    padding: 25px 30px;
  }
}

[data-theme="dark"] {
  .card {
    background-color: $dark-secondary;
    color: $gray-300;
    border: 1px solid $dark-border;

    .title::after {
      background: $gray-600;
    }
  }
}
