.card {
  border-radius: 10px;
  background-color: white;
  border: 1px solid $gray-200;
  overflow-x: auto;
  z-index: 3;
  max-width: max-content;

  h2 {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 25px 20px;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      background: $gray-300;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.children {
  padding: 25px 20px;
}

.shadow {
  box-shadow: $shadow-s;
}

@media screen and (min-width: $breakpoint-m) {
  .card {
    h2 {
      padding: 20px 30px;
    }
  }

  .children {
    padding: 25px 30px;
  }
}

[data-theme="dark"] {
  .card {
    background-color: $gray-800;
    color: $gray-300;
  }
}
