.wrapper {
  display: flex;
  flex-direction: column;
}

.searchField {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 20px;

  input[type="text"] {
    @include input-base;
  }
}

.count {
  margin-bottom: 20px;
}

.table {
  background: white;
  border-radius: 10px;
  border: 1px solid $gray-200;
  max-height: 75vh;
  overflow-y: auto;

  svg:hover {
    cursor: pointer;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $black;
  text-decoration: none;

  svg {
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  &:hover {
    text-decoration: underline;
  }
}
