.linkItem {
  list-style: none;
  border-radius: 5px;
  transition: all;
  transition-duration: 200ms;

  &:hover {
    cursor: pointer;
    background: $gray-100;
  }

  &Active {
    background: $gray-100;
    border-radius: 5px;
  }

  a,
  .noHrefButton {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: $secondary;
    height: inherit;
    padding: 12px;

    .icon,
    svg {
      width: 24px;
      height: 24px;
    }

    p {
      @include font-medium;
    }
  }
}

[data-theme="dark"] {
  .linkItem {
    &:hover {
      cursor: pointer;
      background: $gray-700;
      color: $gray-100;
    }

    &Active {
      background: $gray-700;
      color: $gray-100;
    }

    a,
    .noHrefButton {
      color: $gray-300;
    }
  }
}
