.accordionItem {
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 100%;

  .header {
    display: flex;
    align-items: center;

    p {
      @include font-semibold;
      padding: 10px;
      margin-bottom: 10px;
      transition: color 0.2s;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .headerActive {
    p {
      color: $black;
    }
  }

  .content {
    border-left: 4px solid $secondary;

    p {
      margin: 0;
      padding: 20px 25px;
    }
  }

  &:hover {
    .header p {
      color: $black;
    }
  }
}

@media screen and (min-width: $breakpoint-m) {
  .accordionItem {
    max-width: 300px;
  }
}

[data-theme="dark"] {
  .accordionItem {
    .header {
      p {
        color: $gray-200;
      }
    }

    .headerActive {
      p {
        color: $white;
      }
    }

    .content {
      border-left: 4px solid $gray-400;

      p {
        color: $gray-200;
      }
    }

    &:hover {
      .header p {
        color: $white;
      }
    }
  }
}
