.documentSections {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.documentContainer {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.groupedDocuments {
  p {
    @include font-semibold;
    margin-bottom: 15px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
